:root {
    --light-shades: #F6F2F2;
    --light-accent: #A98F74;
    --main-color: #B1A29A;
    --dark-accent: #E84750;
    --dark-shades: #123453;
    --radius: 10px
}

.main-container {
  background-color: var(--light-shades);
  min-height: 100vh;
  width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
}

.products-container {
    grid-area: left;
}

.profiles-container {
    grid-area: right;
}

.btn-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {
    background-color: white;
    color: var(--dark-shades);
    border: none;
    border-radius: var(--radius);
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(18, 52, 83, 0.27) 0 0 10px;
    transition: 200ms;
}

.btn:hover {
    background-color: var(--dark-accent);
    color: white;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.textbox {
    background-color: white;
    color: var(--dark-shades);
    border: none;
    border-radius: var(--radius);
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: rgba(18, 52, 83, 0.27) 0 0 10px;
    transition: 200ms;
}

.list-container {
    padding: 30px;
}

.product-container {
    background-color: white;
    padding: 10px 50px;
    margin-bottom: 10px;
    border-radius: var(--radius);
}

.clear-btn {
    background-color: transparent;
    color: var(--dark-accent);
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    transition: 200ms;
    cursor: pointer;
}

.clear-btn:hover {
    color: var(--dark-accent);
    text-decoration: underline;
}